@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Assistant:wght@200;300;400;500;600;700&family=Inter&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ECE4D8;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    padding-right: 10%;
}

.logoKecil{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
    color: #FF543E;
}

li, a, button{
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

button{
    padding: 9px 25px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    
}

button:hover{
    background-color: #FF543E;
    border-color: transparent;
    color: white;
    transition: 0.3s;

}

.welcomeText h3{
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.search-container-wrapper{
    justify-content: center;
    display: flex;
}
.search-container {
    width: 30%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .search-field {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    padding: 5px;
    font-size: 16px;
    outline: none;
  }

  .search-container input{
    font-family: 'Aref Ruqaa Ink', serif;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
  }
  
.logoBesar{
    display: flex;
    justify-content: center;
}

.logoBesar img{
    width: 35%;
}

.gambarHome{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.patungHome{
    position: relative;
    
}

.lingkaranHome{
    position: absolute;
}

.kiriKananHome{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    min-height: 100%;
    justify-content: center;
}

.kiriHome{
    position: absolute;
    bottom: 0;
    right: 60%;
    width: 40%;
}

.kananHome{
    position: absolute;
    bottom: 0;
    left: 60%;
    width: 40%;
}

.koleksiteratas {
    display: flex;
    align-items: center;
    padding: 30px 5%;
    flex-direction: column;
  }
  
  .koleksi {
    display: flex;
    flex-direction: row;
    justify-content: center; 
  }
  
  .koleksi a {
    margin: 0 139px;
  }

.senimanteratas{
    display: flex;
    align-items: center;
    padding: 30px 5%;
    flex-direction: column;
}

.seniman{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seniman .seniman1 a{
    position: relative;
    z-index: 1;
    
}

.kategoripatung{
    padding: 30px 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.kategoriatas{
    display: flex;
    flex-direction: row;
}

.kategoribawah{
    display: flex;
    flex-direction: row;
}

.koleksiteratas h1{
    font-family: 'Aref Ruqaa Ink', serif;
    color: #FF543E;
    font-size: 70px;
}

.senimanteratas h1{
    font-family: 'Aref Ruqaa Ink', serif;
    color: #FF543E;
    font-size: 70px;
}

.kategoripatung h1{
    font-family: 'Aref Ruqaa Ink', serif;
    color: #FF543E;
    font-size: 70px;
}

footer{
    background-color: #2C2929;
    display: flex;   
}

footer .logo{
    padding: 30px 5%;
}

footer about{
    position: relative;
}

footer .about p{
    margin-top: 100px;
    margin-left: -360px;
    margin-right: 855px;
    text-align: justify;
    font-size: small;
    font-family: 'Assistant', sans-serif;
    color: white;
}

footer .information{
    position: relative;
}

footer .information h3{
    color: white;
    font-family: 'Assistant', sans-serif;
    font-size: 32px;
    font-weight: 400px;
    margin-left: -600px;
    margin-top: 100px;
}

footer .information li{
    list-style-type:none;
    text-decoration: none;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: -600px;
}

footer .information li a{
    color: white;
    font-weight: lighter;
}


footer .contact{
    position: relative;
}
footer .contact h3{
    color: white;
    font-family: 'Assistant', sans-serif;
    font-size: 32px;
    font-weight: 400px;
    margin-left: -320px;
    margin-top: 100px;
}

footer .contact .icons{
    display: flex;
    justify-content: center;
    margin-left: -450px;
    list-style-type:none;
    text-decoration: none;
}

footer .contact .icons a img{
    margin-right: 15px;
}

.carousel{
    padding: 30px 5%;
    
}

.carousel h4 {
    font-family: 'Assistant', sans-serif;

}

.carousel h1{
    margin-top: -30px;
    font-family: 'Aref Ruqaa Ink', sans-serif;
    font-size: 96px;
}

.carousel h3{
    margin-top: -25px;
    font-family: 'Aref Ruqaa Ink', sans-serif;
    font-weight: lighter;
    width: 43%;
    text-align: justify;
}

.carousel img{
    position: relative;
    margin-top: -550px;
    margin-left: 1050px;
}

.carousel button{
    position: relative;
    margin-top: 200px;
    margin-left: 500px;
}






